<div class="col">
    {% if services %}
    <table id="services-table" class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">
                    <a style="color: black;" href="?sort_by=category">Category</a>
                </th>
                <th class="text-center">
                    <a style="color: black;" href="?sort_by=minimal_payment">Minimal payment($)</a>
                </th>
                <th class="text-center">
                    <a style="color: black;" href="?sort_by=term">Term(months)</a>
                </th>
                {% if request.path != '/insure-your-buddy/profile/' %}
                <th class="text-center">
                    <a style="color: black;" href="?sort_by=company">Company</a>
                </th>
                {% endif %}
                {% if user.is_anonymous %}
                <th class="text-center">Submit your application</th>
                {% elif request.path == '/insure-your-buddy/profile/' %}
                <th class="text-center">
                    Customer responses
                </th>
                <th class="text-center">Update/Delete service</th>

                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr valign="middle">
                <td class="text-center service" data-form-url="{% url 'insure_your_buddy:detail' service.pk %}">
                    {{ service.get_category_display }}
                </td>
                <td class="text-center service" data-form-url="{% url 'insure_your_buddy:detail' service.pk %}">
                    {{ service.minimal_payment }}
                </td>
                <td class="text-center service" data-form-url="{% url 'insure_your_buddy:detail' service.pk %}">
                    {{ service.term }}
                </td>
                {% if request.path != '/insure-your-buddy/profile/' %}
                <td class="text-center service" data-form-url="{% url 'insure_your_buddy:detail' service.pk %}">
                    {{ service.company.company_name }}
                </td>
                {% endif %}
                {% if user.is_anonymous %}
                <td class="text-center">
                    <button type="button" class="response btn btn-sm btn-primary"
                        data-form-url="{% url 'insure_your_buddy:response' service.pk %}">
                        <span class="fa fa-file-text-o"></span>
                    </button>
                </td>
                {% elif user.id == service.company.id and request.path == '/insure-your-buddy/profile/' %}
                <td class="text-center service" data-form-url="{% url 'insure_your_buddy:detail' service.pk %}">
                    <p>{{ service.get_response_counter }} responses</p>
                    <p>{{ service.get_views_counter }} views</p>
                </td>
                <td class="text-center">
                    <button type="button" class="update-service btn btn-sm btn-primary"
                        data-form-url="{% url 'insure_your_buddy:update_service' service.pk %}">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button type="button" class="delete-service btn btn-sm btn-danger"
                        data-form-url="{% url 'insure_your_buddy:delete_service' service.pk %}">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>Unfortunately, no services available</h4>
    {% endif %}

    {% if services.has_previous %}
    <a class="btn btn-primary" href="?p={{ services.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ services.number }} of {{ services.paginator.num_pages }}.
    </span>

    {% if services.has_next %}
    <a class="btn btn-primary" href="?p={{ services.next_page_number }}">next</a>
    {% endif %}
</div>

{% block extrascripts %}
{% endblock extrascripts %}